
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html body{
    width: 100%;
    height: 100%;
    background-color :#eeeefa ;
    overflow-x: hidden;
}
/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-xl-square {
    width: 66px;
    height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.btn-primary {
    color: var(--bs-white);
    border: none;
}

.btn.btn-primary:hover {
    background: var(--bs-dark);
    color: var(--bs-white);
}

.btn.btn-light {
    color: var(--bs-primary);
    border: none;
}

.btn.btn-light:hover {
    color: var(--bs-white);
    background: var(--bs-primary);
}


/*** Topbar Start ***/
.topbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
    color: var(--bs-primary);
}

.topbar .dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.topbar .dropdown .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    padding-top: 11px;
    border: 0;
    transition: .5s;
    opacity: 1;
}

/*** Topbar End ***/



/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: var(--bs-dark);
    font-size: 17px;
    font-weight: 400;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link,
.sticky-top.navbar-light .navbar-nav .nav-item .nav-link {
    padding: 20px 0;
    color: var(--bs-dark);
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: var(--bs-white);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link.active  {
    color: var(--bs-primary);
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light);
    transition: .5s;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--bs-white);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--bs-primary);
        color: var(--bs-primary);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--bs-dark);
    }

    .navbar-light .navbar-nav .nav-item .nav-link {
        color: var(--bs-dark);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }

    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light);
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        bottom: -1px;
        left: 50%;
        background: var(--bs-primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::after,
    .navbar-light .navbar-nav .nav-link.active::after {
        width: 2px;
        height: 12px;
    }
}
/*** Navbar End ***/

/*** Carousel Hero Header Start ***/
.header-carousel .header-carousel-item img {
    object-fit: cover;
}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
        height: 700px;
}


.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev {
    bottom: 30px;
    left: 30px;
    margin-left: 90px;
}
.header-carousel .owl-nav .owl-next {
    bottom: 30px;
    left: 30px;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 0 0 100px 0 var(--bs-light);
    color: var(--bs-primary);
}


.header-carousel .header-carousel-item .carousel-caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding-top: 120px;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .header-carousel .header-carousel-item .carousel-caption {
        padding-top: 45px;
    }
}

@media (max-width: 767px) {
    .header-carousel .owl-nav .owl-prev {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -45px;
    }


    .header-carousel .owl-nav .owl-next {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 45px;
    }
}


.header-carousel .header-carousel-item img {
    animation-name: image-zoom;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: 1s;
}

@keyframes image-zoom {
    0%  {height: 100%; opacity: 0.9;}

    25% {height: 110%; opacity: 0.50;}

    50% {height: 115%; opacity: 1;}

    75% {height: 110%; opacity: 0.50;}

    100% {height: 100%; opacity: 0.9;}
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 60px 0;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .bg-breadcrumb {
        padding: 140px 0 60px 0;
    }
}

@media (max-width: 991px) {
    .bg-breadcrumb {
        padding: 60px 0 60px 0;
    }
}

.bg-breadcrumb .breadcrumb {
    position: relative;
}

.bg-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
}
/*** Single Page Hero Header End ***/


/*** Service Start ***/
.service .service-item {
    background: var(--bs-light);
    border-radius: 10px;
    transition: 0.5s;
}

.service .service-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}
.service .service-item .h4:hover {
    color: var(--bs-primary);
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.service-img{
    background-color: #9f95dc
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.2);
}
/*** Service End ***/


/*** Features Start ***/
.feature .feature-item {
    text-align: center;
    border-radius: 10px;
    background: var(--bs-light);
    border: 1px solid transparent;
    transition: 0.5s;
}

.feature .feature-item:hover {
    border: 1px solid var(--bs-primary);
}

.feature .feature-item .feature-icon {
    background: var(--bs-white);
    border-radius: 10px;
    display: inline-block;
}
/*** Features End ***/

/*** Offer Start ***/
.offer-section .nav a.accordion-link {
    width: 100%;
    border-radius: 10px;
    display: flex;
    background: var(--bs-white);
    transition: 0.5s;
}

.offer-section .nav a.accordion-link.active {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.offer-section .nav a.accordion-link h5 {
    transition: 0.5s;
}

.offer-section .nav a.accordion-link.active h5 {
    color: var(--bs-white);
}
/*** Offer End ***/

/*** Blog Start ***/
.blog .blog-item {
    border-radius: 10px;
    background: var(--bs-white);
    box-shadow: inset 0 0 45px rgba(0, 0, 0, .1);
    transition: 0.5s;
}

.blog .blog-item a {
    transition: 0.5s;
}

.blog .blog-item:hover a:hover {
    color: var(--bs-primary);
}

.blog .blog-item .blog-img {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img img {
    transform: scale(1.2);
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0, 208, 132, 0.1);
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}

.blog .blog-item:hover .blog-img::after {
    opacity: 1;
}

.blog .blog-item .blog-img .blog-title {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 5;
}

.blog .blog-item .blog-img .blog-title a {
    color: var(--bs-white);
    background: var(--bs-primary);
    transition: 0.5s;
}

.blog .blog-item:hover .blog-img .blog-title a:hover {
    color: var(--bs-dark);
}

.blog-carousel .owl-stage-outer {
    margin-top: 58px;
}

.blog .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    left: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.blog .owl-nav .owl-prev:hover {
    background: var(--bs-dark);
    color: var(--bs-primary);
}

.blog .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 6px 35px;
    border-radius: 30px;
    transition: 0.5s;
}

.blog .owl-nav .owl-next:hover {
    background: var(--bs-dark);
    color: var(--bs-primary);
}
/*** Blog End ***/


/*** FAQs Start ***/
.faq-section .accordion .accordion-item .accordion-header .accordion-button {
    color: var(--bs-primary);
    font-size: 20px;
    font-weight: 700;
}

.faq-section .accordion .accordion-item .accordion-header .accordion-button.collapsed {
    color: var(--bs-dark);
}
/*** FAQs End ***/

/*** Team Start ***/
.team .team-item {
    position: relative;
    padding: 0 25px 25px 25px;
    border-radius: 10px;
    transition: 0.5s;
}

.team .team-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: var(--bs-light);
    border-radius: 10px;
    transition: 0.5s;
    z-index: -1;
}

.team .team-item:hover::before {
    height: 0;
}

.team .team-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
    z-index: -1;
}

.team .team-item:hover::after {
    height: 100%;
    background: var(--bs-primary);
}

.team .team-item .team-img {
    width: 100%; 
    height: 100%;
    border-radius: 100%;
    position: relative;
    margin-top: 50%;
    transform: translateY(-50%);
    margin-bottom: -50%;
    display: flex;
    justify-content: center;
    border: 4px solid var(--bs-primary);
    border-style: dotted;
    padding: 4px;
    background: var(--bs-white);
    transition: 0.5s;
}

.team .team-item:hover .team-img {
    border: 4px solid var(--bs-white);
    border-style: dotted;
    background: 0;
}

.team .team-item .team-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: 0.5s;
}

.team .team-item .team-title {
    padding: 25px 0 25px 0;
    text-align: center;
}

.team .team-item .team-title h4,
.team .team-item .team-title p {
    transition: 0.5s;
}

.team .team-item:hover .team-title h4,
.team .team-item:hover .team-title p {
    color: var(--bs-white);
}

.team .team-item .team-icon {
    display: flex;
    justify-content: center;
}

.team .team-item .team-icon a {
    transition: 0.5s;
}

.team .team-item:hover .team-icon a {
    color: var(--bs-dark);
    background: var(--bs-white);
}

.team .team-item:hover .team-icon a:hover {
    color: var(--bs-primary);
    background: var(--bs-dark);
}
/*** Team End ***/

/*** Testimonial Start ***/
.testimonial .testimonial-item {
    position: relative;
    margin-bottom: 30px;
    padding: 0 25px 25px 25px;
}

.testimonial .testimonial-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: var(--bs-light);
    z-index: -1;
}

.testimonial .testimonial-item .testimonial-img {
    display: flex;
    justify-content: center;
}

.testimonial .testimonial-item .testimonial-img img {
    width: 100px; 
    height: 100px;
    border-radius: 100px;
    border: 5px solid var(--bs-light);
    border-style: double;
    background: var(--bs-white);
}

.testimonial .testimonial-item .testimonial-text {
    padding: 25px 0;
    text-align: center;
}

.testimonial .testimonial-item .testimonial-title {
    display: flex;
    justify-content: space-between;
}

.testimonial .testimonial-item  .testimonial-quote-left {
    position: absolute;
    width: 60px; 
    height: 60px;
    top: 20px;
    left: 25px;
    border-radius: 60px;
    color: var(--bs-primary);
    background: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .testimonial-item  .testimonial-quote-right {
    position: absolute;
    width: 60px; 
    height: 60px;
    bottom: -30px;
    right: 25px;
    margin-top: -5px;
    border-radius: 60px;
    color: var(--bs-primary);
    background: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-stage-outer {
    margin-top: 58px;
    margin-right: -1px;
}

.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    left: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 0;
    background: var(--bs-primary);
    color: var(--bs-white);
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 20px 10px 0 10px;
    background: var(--bs-primary);
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: var(--bs-secondary);
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimonial-carousel .owl-dots .owl-dot.active span::after {
    background: var(--bs-primary);
}

.testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
    transition: 0.5s;
}

/*** Testimonial End ***/

/*** Footer Start ***/
.footer {
    background: #5042b6;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
}

.footer .footer-item a {
    line-height: 35px;
    color: var(--bs-body);
    transition: 0.5s;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer .footer-item a:hover {
    color: var(--bs-primary);
}

.footer .footer-item .footer-btn a,
.footer .footer-item .footer-btn a i {
    transition: 0.5s;
}

.footer .footer-item .footer-btn a:hover {
    background: var(--bs-white);
}

.footer .footer-item .footer-btn a:hover i {
    color: var(--bs-primary);
}
/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    background: #070b41;
}
/*** copyright end ***/




/*** Client revew start ***/
.card-review {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.3s ease;
}
.card-review:hover {
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}
.profile{
    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
}
.reviewer-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 1px solid#666;
    font-size: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 4, 107);
    color: whitesmoke;

}
.review-text {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.reviewer-name {
    font-weight: bold;
    color: #333;
    margin-top: 5px;
    line-height: 5px;
}
.review-date {
    font-size: 0.85rem;
    color: #999;
}
.star-rating i {
    color: #FFD700;
    margin-right: 3px;
}
.google-logo {
    width: 90px;
}

/*** Client revew end ***/


































  









/* side menu bar start */
.menu-bar {
   
    height: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    transform: rotateX(-15deg);
    transform-origin: left;
    transition: transform 0.4s ease;
  }
  
  .menu-bar:hover {
    transform: rotateX(0deg);
  }
  
  .menu-bar ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu-bar ul li {
    width: 100%;
    margin: 0px 0;
    display: block;
  }
  
  .menu-bar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px;
    width: 100%;
    transition: background-color 0.3s;
   
    
  }
  
  .menu-bar ul li a:hover {
    background-color: #444;
    color: white;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

/* side menu bar end */

/* slider start */

.slider-container {
    display: flex;
    overflow: hidden; 
    perspective: 1000px; 
    width: 100%; 
   height: 430px;
    margin: auto; 
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
}

.slider {
    min-width: 100%; 
    height: 100%;
    transition: transform 0.5s ease; 
    transform-style: preserve-3d; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.slider img {
    width: 100%;
    height: 100%; 
    border-radius: 10px; 
    
}


.slider:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}
/* slider end*/

/* button start */
.clickk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6266a6;
    border: 1px solid rgb(197, 193, 252);
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.clickk:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.22); 
}
.clickk h3{
    line-height: 50px;
    color: white;
}
.clik {
    perspective: 1000px;
  }
  
  .clik button {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
  }
  
  .clik button:hover {
    transform: translateZ(20px) rotateX(10deg) rotateY(-10deg);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }
  
  .clik button:active {
    transform: translateZ(-5px) rotateX(-5deg) rotateY(5deg);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
/* button end */






/* heder start */
header {
    background-color: #070b41;
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 15%;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.logo img{
    width: 100%;
    height: 100%;
}
.search-container {
    position: relative;
    width: 500px;
    height: 40px;
    perspective: 1000px;
  }
  
  .search-container input[type="search"] {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: linear-gradient(145deg, #303468, #303468);
    box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2), 5px 5px 5px rgba(255, 255, 255, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .search-container input[type="search"]:focus {
    transform: translateZ(10px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3), -5px -5px 5px rgba(255, 255, 255, 1);
  }
  

  
  .search-container input[type="search"]::placeholder {
    color: #aaa;
   
  }  
  
nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #303468;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    transform: translateY(-3px);
    color: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

nav ul li a:active {
    transform: translateY(1px);
}

/* 3D Effect */
nav ul li a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
    transition: transform 0.3s;
}

nav ul li a:hover::before {
    transform: translateY(5px);
}


/* heder end */







/* brand start */
.brand{
    min-width: 10%;
    height: 110px;
    padding: 5px;
}
.brand-image {
    perspective: 1000px;
    width: 100px;
    height: 100px;
   
    transition: transform 0.5s ease-in-out;
}

.brand-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: rotateY(0deg) rotateX(0deg);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.brand-image:hover img {
    transform: rotateY(20deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

/* brand end */
/* catgori start */

.catagory{
    min-width: 12.5%;
    height: 150px;
    padding: 8px;
}
.catagori {
    
    
    height: 150px;
   
   
    border: 2px solid #ddd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;
}

.catagori:hover {
    transform: rotateY(20deg) rotateX(10deg);
}

.catagori-image {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

.catagori-image img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.catagori:hover .catagori-image img {
    transform: scale(1.1);
}

.catagori-info {
    height: 20%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.catagori-info h4 {
    font-size: 0.9em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: translateZ(30px);
}


/* catgori end */

/* pruduct card start */
.product-card {
   
    height: max-content;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
    transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
    padding: 20px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-card:hover {
    transform: rotateX(-10deg) rotateY(0deg) ;
  }
  
  .product-image {
    width: 100%;
    height: 40%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    overflow: hidden;
  }

  .product-image img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .product-card:hover .product-image img {
    transform: scale(1.1);
  }
  
  .product-info {
    text-align: center;
  }
  
  .product-info h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-info .price {
    font-size: 1.2rem;
    color: #ff6347;
    font-weight: bold;
  }
  
  .product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .view-details, .add-to-cart {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .view-details:hover, .add-to-cart:hover {
    background-color: #e55337;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .add-to-cart {
    background-color: #48c774;
  }
  
  .add-to-cart:hover {
    background-color: #3bb165;
  }
  
/* product card end*/

/* who we are start */
.who {
    perspective: 1000px;
    transform-style: preserve-3d;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
    transform: rotateY(-5deg) rotateX(5deg);
    transition: transform 0.3s ease-in-out;
}

.who:hover {
    transform: rotateY(0deg) rotateX(0deg);
}

.who h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.who ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.who ul li {
    position: relative;
    font-size: 18px;
    line-height: 1.8;
    color: #333;
    padding: 10px 20px;
    background: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.who ul li::before {
    content: " ";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    font-size: 20px;
}

.who ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 
                0 10px 30px rgba(0, 0, 0, 0.1);
    background: #eaeaea;
}

.who ul li:last-child {
    margin-bottom: 0;
}

/* who we are end  */

/* news later start */
.new {
    width: 100%;
    display: flex;
 
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
                0 6px 20px rgba(0, 0, 0, 0.1);
    transform: rotateY(-2deg) rotateX(2deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
    margin: 0 auto;
}

.new:hover {
    transform: rotateY(0deg) rotateX(0deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 
                0 12px 24px rgba(0, 0, 0, 0.15);
}

.new div {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 20px;
}

.new div h3 {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.new div input[type="search"] {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 100%;
    margin-right: 10px;
    transition: box-shadow 0.3s ease;
}

.new div input[type="search"]:focus {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.new div i {
    color: #007bff;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}



/* news later end */